
.navigation {
    padding: 10px;
    border-bottom: 2px rgb(234, 181, 143) dashed; 
    display:flex;
    flex-wrap: wrap;
}

.navigation__element {
    padding: 10px;
    margin: auto;
    flex-basis: 220px;
}

.navigation__link {
    color: rgb(29, 15, 6);
    background-color: rgb(234, 181, 143);
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 10%;
}

.navigation__button {
    background-color: rgb(142, 63, 7);
    padding: 10px;
    color: rgb(248, 244, 239);
    font-size: 15px;
    margin: 10px;
    border-radius: 10%;
    cursor: pointer;
}

.navigation__button--dark {
    background-color: rgb(158, 134, 102);
}